html {
  box-sizing: border-box;
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #171919;
  color: #fff;
  text-transform: uppercase;
  min-width: 320px;
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.subtitle {
  display: inline-block;
  text-align: right;
}

.descr {
  display: inline-block;
  padding-left: 5px;
}

.descr__head {
  font-weight: 800;
  font-size: 40px;
}

.descr__head span {
  font-weight: 100;
}

.btn {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
}

.btn span {
  padding: 17px 57px 15px 17px;
  background-color: #4AF6CD;
  display: inline-block;
  margin-left: 19px;
  position: relative;
}

.btn span::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 1px;
  background-color: #fff;
  top: 50%;
  left: -10px;
}

.btn span::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 21px;
  background-image: url(../images/arrows-right.svg);
  top: 50%;
  right: 17px;
  transform: translateY(-50%);
}

.surf,
.holder {
  padding: 160px 0 120px;
}

.holder {
  padding-bottom: 265px;
  margin-bottom: 35px;
}

 .star-list li {
  display: inline-block;
  margin-left: -25px;
} 

.quantity {
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 42px;
  display: block;
  border: none;
  background-color: transparent;
  font-size: 40px;
  line-height: 36px;
  font-weight: 800;
  color: #fff;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: static;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 45px;
}

.quantity-button.quantity-up {
  position: absolute;
  right: 0;
}

.quantity-button.quantity-down {
  position: absolute;
  right: 25px;
}

.subtitle__head {
  font-size: 40px;
  font-weight: 800;
  padding-right: 10px;
}

.subtitle__head span {
  font-weight: 100;
}

.header {
  position: relative;
  height: 100vh;
}

.header__slider-item {
  height: 100vh;
  background-image: url(../images/header-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 116px;
  text-align: right;
}

.headline-left {
  opacity: .5;
  letter-spacing: 7.3px;
  font-size: 22px;
  line-height: 32px;
  padding-left: 103px;
  position: relative;
  display: inline-block;
}

.headline-left::before, 
.headline-right::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #fff;
  left: 0;
  top: 50%;
}

.headline-right {
  opacity: .5;
  letter-spacing: 7.3px;
  font-size: 16px;
  line-height: 18px;
  padding-right: 65px;
  position: relative;
  display: inline-block;
}


.headline-right::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #fff;
  right: 0;
  top: 50%;
}

.slider-item__info-subtitle {
  margin-bottom: 5px;
}

.slider-item__info-subtext {
  margin-bottom: 8px;
}

.slider-item__info-title {
  font-size: 80px;
  line-height: 86px;
  font-weight: 800;
  margin-bottom: 48px;
}

.slider-item__info-text {
  font-size: 40px;
  font-weight: 800;
  line-height: 46px;
  margin-bottom: 20px;
}

.slider-arrows {
  position: absolute;
  top: 40px;
  right: 80px;
  cursor: pointer;
  z-index: 4;
}

.slider-arrows__left {
  right: 125px;
}

.slider-dotshead {
  position: absolute;
  right: 50px;
  bottom: 36px;
  max-width: 920px;
  width: 100%;
  color: #fff;
}

.slider-dots .slick-current .dots-box{
 border-top: 4px solid #4AF6CD;
}

.dots-box {
  width: 200px;
  display: flex;
  justify-content: space-between;
  height: 28px;
  align-items: center;
  border-top: 4px solid #fff;
  padding-top: 6px;
}

.dots-box__number {
  font-weight: 800;
  font-size: 24px;
  line-height: 34px;
}

.dots-box__name {
  font-weight: 300;
  line-height: 19px;
  text-transform: capitalize;
}

.header__aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  border-right: 1px solid rgba(255, 255, 255, .25);
  height: 100vh;
  text-align: center;
}

.header__title {
  max-width: 467px;
  font-size: 200px;
  font-weight: 800;
  line-height: 156px;
  opacity: .07;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.menu {
  padding-top: 40px;
}

.menu-btn {
  display: none;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  z-index: 20;
  right: 20px;
  top: 75px;
  background-color: rgba(255, 255, 255, .1);
}

.menu-btn__inner {
  width: 40px;
}

.menu-btn__line {
  height: 5px;
  background-color: #4AF6CD;
}

.menu-btn__line + .menu-btn__line {
  margin-top: 5px;
}

.menu__list span {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 3px;
  padding-top: 6px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.header__date {
  font-size: 72px;
  line-height: 64px;
  font-weight: 800;
  text-transform: uppercase;
}

.header__date span {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  letter-spacing: 1.4px;
  margin-bottom: 30px;
  display: block;
  padding-top: 15px;
}

.header__search {
  padding-top: 15px;
  padding-bottom: 35px;
}

.header__location {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  letter-spacing: 1.05px;
  position: relative;
  padding-left: 19px;
  text-transform: capitalize;
}

.header__location::before {
  content: '';
  position: absolute;
  width: 11px;
  height: 13px;
  background-image: url(../images/marker.svg);
  left: 0;
  top: 0;
}

.header__map {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.header__arrows {
  position: absolute;
  left: 210px;
  bottom: 40px;
  z-index: 3;
}

.line-animation {
  stroke-dashoffset: 600;
  stroke-dasharray: 600;
  animation: animdash 5s infinite 6s;
}

@keyframes animdash {
  to {
    stroke-dashoffset: 0;
  }
}

.title div {
  font-size: 200px;
  color: rgba(255, 255, 255, .02);
  position: relative;
  transform: translateX(-50px);
  display: inline-block;
}

.title span {
  display: inline-block;
}

.title h3 {
  margin: 0;
  color: #fff;
  font-size: 80px;
  position: absolute;
  top: 0;
  right: -5px;
}

.title h3::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 1px;
  background-color: #4AF6CD;
}

.surf {
  background-image: url(../images/surf-bg.png);
  background-position: right 200px;
  background-repeat: no-repeat;
  background-size: auto;
} 

.surf__subtitle {
  text-align: right;
  padding-right: 80px;
  margin-top: -86px;
}

.surf-slider {
  padding-top: 110px;
}

.surf-slider .slick-slide:nth-child(4n + 1) {
  margin-top: 32px;
}
.surf-slider .slick-slide:nth-child(4n + 3) {
  margin-top: 89px;
}

.surf-slider .slider-arrows {
  top: 50px;
  opacity: .25;
}

.slick-current .surf-box__inner-btn {
  display: block;
}

.slick-current .surf-box__inner {
  background: rgba(28, 33, 33, .3);
}

.surf-box {
}

.surf-box__wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.surf-box__inner {
  min-height: 750px;
  background: rgba(28, 33, 33, .85);
  position: relative;
  transition: all .5s;
}

.surf-box__inner:hover {
  background: rgba(28, 33, 33, .3);
}

.surf-box__inner:hover .surf-box__inner-btn {
  display: block;
}

.surf-box__inner-title {
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  padding: 72px 0 0 40px;
  width: 140px;
}

.surf-box__inner-location {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  transform: rotate(-90deg);
  position: absolute;
  left: 40px;
  bottom: 80px;
  width: 0;
  height: 0;
  white-space: nowrap;
}

.surf-box__inner-location span {
  font-weight: 100;
}

.surf-box__inner-btn {
  bottom: 0;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  display: none;
}

.slider-map {
  max-width: 1200px;
  min-height: 635px;
  background-image: url(../images/world-map-dots.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
}

.slider-map .slick-list {
  min-height: 635px;
  overflow: visible;
}

.slider-map .slick-current .slider-dots__content {
  display: block;
  width: 285px;
  padding: 28px 31px 0 32px;
}

.slider-dots__circle {
  width: 23px;
  height: 23px;
  background-color: #4AF6CD;
  border-radius: 50%;
  box-shadow: 0px 0px 35px rgba(74, 246, 205, 0.837777);
}

.slider-dots__content {
  display: none;
  background: rgba(15, 16, 16, .7);
  border-radius: 6px;
  position: absolute;
  bottom: 35px;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-dots__content::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 20px solid #4AF6CD;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  bottom: -21px;
  left: calc(50% - 1px);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.slider-dots__content-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.slider-dots__content-item {
  text-align: center;
}

.slider-dots__content-item img {
  margin-bottom: 7px;
}

.slider-dots__content-number {
  font-size: 16px;
  line-height: 23px;
  font-weight: 800;
}

.slider-dots__content-name {
  font-size: 10px;
  line-height: 12px;
  font-weight: 300;
}

.slider-dots__content-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  padding-bottom: 8px;
  margin-bottom: 8px;
  position: relative;
}

.slider-dots__content-title::before {
  content: "";
  position: absolute;
  background-color: #4AF6CD;
  width: 80px;
  height: 1px;
  bottom: 0;
  left: 0;
}

.slider-dots__content-subtitle {
  font-size: 18px;
  line-height: 19px;
  text-transform: capitalize;
}

.slider-dots__content-link {
  padding-top: 4px;
}

.slider-dots {
  position: relative;
}

.slider-dots--1 {
  top: 335px;
  left: 0;
}

.slider-dots--1 .slider-dots__content {
  transform: translateX(0);
}

.slider-dots--1 .slider-dots__content::before {
  left: 0;
}

.slider-dots--2 {
  top: 270px;
  left: 0;
}

.slider-dots--2 .slider-dots__circle {
  position: relative;
}

.slider-dots--2 .slider-dots__circle::before {
  content: '';
  position: absolute;
  background-image: url(../images/mini-marker.png);
  right: -15px;
  top: -25px;
  width: 14px;
  height: 17px;
  background-size: cover;
}

.slider-dots--3 {
  top: 330px;
  left: 25px;
}

.slider-dots--4 {
  top: 470px;
  left: -25px;
}

.slider-dots--5 {
  top: 230px;
  left: -65px;
}

.slider-dots--6 {
  top: 550px;
  left: -120px;
}

.slider-dots--7 {
  top: 375px;
  left: -95px;
}

.slider-dots--8 {
  top: 470px;
  left: 35px;
}

.slider-dots--8 .slider-dots__content {
  transform: translateX(-262px);
}

.slider-dots--8 .slider-dots__content::before {
  left: auto;
  right: 0;
}

.holder {
  background-image: url(../images/travel-bg.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  /* margin-bottom: 300px; */
}

.holder .slider-arrows {
  top: 225px;
  opacity: .5;
}

.holder-slider__head {
  background-repeat: no-repeat;
  background-position: top left;
  min-height: 780px;
}

.holder-slider__descr {
  padding: 160px 0 0 132px;
  min-height: 320px;
  margin-top: -230px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.holder-slider__descr img {
  padding-left: 24px;
}

 .descr__head {
  position: relative;
  padding-right: 300px;
}


.holder-slider__descr .descr__head img {
  position: absolute;
  right: 0;
  top: 0;
}

.descr__head .holder__star-list {
  position: absolute;
  right: 0;
  top: 0;
}

.descr__head .holder__star-list  li {

}

.descr__head .holder__star-list  img {
  position: static;
}


.holder-slider__subtitle {
  text-align: right;
  padding: 132px 80px 0 0;
}

.holder-slider__btn {
  text-align: center;
}

.holder-slider__info {
  display: flex;
  justify-content: space-around;
}

.holder-slider__info-item {
  min-height: 200px;
  margin-bottom: 66px;
  position: relative;
}

.holder-slider__info-subtitle {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  transform: rotate(-90deg);
  opacity: .5;
  left: -97px;
  top: 97px;
  text-align: right;
  width: 200px;
  height: 0;
  position: absolute;
  white-space: no-wrap;
}

.holder-slider__info-title {
  font-size: 40px;
  line-height: 36px;
  font-weight: 800;
  padding-left: 40px;
  position: relative;
}

.holder-slider__info-title .holder-pricing__span {
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  text-align: right;
  letter-spacing: 5.25px;
  opacity: .75;
  position: absolute;
  bottom: -8px;
  right: 0;
}

.holder.sleep {
  background-image: url(../images/frangipani.png);
}

.shop {
  background-image: url(../images/shop-bg.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.shop .slider-arrows {
  opacity: .25;
}

.shop__slider {
  padding-left: 132px;
}

.shop__slider-inner {
  display: flex;
}

.shop__slider-info {
  max-width: 480px;
  margin-right: 40px;
  width: 100%;
  padding-top: 150px;
}

.descr__head-shop {
  max-width: 340px;
  margin-bottom: 47px;
}

.shop__star-list {
  margin-left: -9px;
}

.shop__slider-price {
  font-size: 32px;
  line-height: 40px;
  font-weight: 800;
  margin-bottom: 64px;
}

.shop__slider-price sup {
  font-size: 18px;
  padding-left: 2px;
}

.shop__slider-content {
  padding-left: 170px;
  display: flex;
  align-items: flex-end;
}

.shop__extras {
  padding-left: 150px;
}

.shop__extras-inner {
  display: flex;
}

.shop__extras-title {
  font-size: 28px;
  line-height: 40px;
  font-weight: 800;
  margin-bottom: 25px;
}

.shop__extras-box {
  text-align: center;
  margin-right: 57px;
}

.shop__extras-img {
  min-height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
}

.shop__extras-name {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 8px;
  opacity: .5;
  margin-bottom: 16px;
}

.shop__extras-price {
  font-size: 18px;
  line-height: 40px;
  font-weight: 800;
}

.surfboard {
  position: relative;
}

.surfboard-box {
  position: absolute;
}

.surfboard-box--1 {
  right: 40px;
  top: 215px;
}

.surfboard-box--2 {
  left: -6px;
  top: 313px;
}

.surfboard-box--3 {
  bottom: 70px;
  left: 52px;
}

.surfboard-box--3 .surfboard-box__content {
  padding-left: 0;
  padding-right: 104px;
  top: -15px;
  left: -400px;
}

.surfboard-box--3 .surfboard-box__content::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #fff;
  left: auto;
  right: 0;
  top: 50%;
}

.surfboard-box__circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  background-color: #fff;
  cursor: pointer;
}

.surfboard-box__circle.active .circle-row {
  transform: translate(-50%, -50%) rotate(0deg);
}

.circle-row {
  background-color: #4AF6CD;
  position: absolute;
  width: 12px;
  height: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}

.circle-row + .circle-row {
  transform: translate(-50%, -50%) rotate(90deg);
}

.surfboard-box__circle.active + .surfboard-box__content {
  display: block;
}

.surfboard-box__content {
  display: none;
  position: absolute;
  width: 359px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 800;
  padding-left: 104px;
  top: -15px;
  left: 40px;
}

.surfboard-box__content::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 1px;
  background-color: #fff;
  left: 0;
  top: 50%;
}

.footer {
  text-align: center;
  padding: 285px 0 34px;
}

.footer .btn span {
  padding: 17px 17px 15px;
}

.footer .btn span::after {
  display: none;
}

.footer__copy {
  padding-top: 27px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  letter-spacing: 1.05px;
  opacity: .5;
}

@media (max-width: 1440px) {
  .logo img {
    width: 100px;
  }
  .header__title {
    font-size: 130px;
    line-height: 108px;
    top: 20px;
    left: 60px;
  }
  .menu {
    padding-top: 10px;
  }
  .header__search {
    padding-bottom: 8px;
  }
  .header__date {
    font-size: 60px;
  }
  .header__date span {
    font-size: 14px;
    padding-top: 0;
    margin-bottom: 5px;
  }
  .header__arrows {
    left: 130px;
  }
  .surf-box__inner {
    min-height: 650px;
  }
}

@media (max-width: 1366px) {
  .header__aside {
    height: 108px;
    padding-right: 25px;
    background-color: rgba(255, 255, 255, .1);
    border-right: none;
    text-align: left;
    display: flex;
    position: absolute;
  }
  .menu {
    padding-top: 0;
  }
  .menu__list {
    text-align: center;
  }
  .menu__list li {
    display: inline-block;
  }
  .menu__list a {
    padding: 15px;
  }
  .header__search {
    padding: 33px 15px 15px;
  }
  .header__date {
    padding: 15px;
  }
  .header__location {
    margin-top: 42px;
  }
  .slider-item__info-title {
    font-size: 65px;
  }
  .header__arrows {
    left: 20px;
    bottom: 20px;
  }
  .shop__slider-content {
    padding-left: 40px;
  }
  .shop__slider-price {
    margin-bottom: 30px;
  }
}

@media (max-width: 1340px) {
  .header__map svg {
    width: 500px;
    height: 250px;
  }
  .slider-arrows {
    top: 20px;
    right: 20px;
  }
  .slider-arrows__left {
    right: 60px;
  }
}

@media (max-width: 1287px) {
  .slider-map .slick-list {
    overflow: hidden;
  }
  .slider-dots__circle {
    box-shadow: none;
  }
}

@media (max-width: 1250px) {
  .slider-map {
    max-width: 1000px;
    min-height: 515px;
  }
  .slider-map .slick-list {
    min-height: 515px;
  }
  .slider-dots--1 {
    top: 266px;
  }
  
  .slider-dots--1 .slider-dots__content {
    transform: translateX(0);
  }
  
  .slider-dots--1 .slider-dots__content::before {
    left: -0.5px;
  }
  
  .slider-dots--2 {
    top: 232px;
  }

  .slider-dots--3 {
    top: 253px;
  }
  
  .slider-dots--4 {
    top: 390px;
  }
  
  .slider-dots--5 {
    top: 180px;
  }
  
  .slider-dots--6 {
    top: 449px;
    left: -85px;
  }
  
  .slider-dots--7 {
    top: 312px;
    left: -85px;
  }
  
  .slider-dots--8 {
    top: 397px;
  }
  .shop__slider-inner {
    display: block;
  }
  .shop__slider-info {
    padding-top: 55px;
    padding-bottom: 50px;
  }
  .shop__slider {
    padding-left: 20px;
  }
  .surfboard-box--3 .surfboard-box__content {
    left: 60px;
  }
  .surfboard-box--3 .surfboard-box__content::before {
    width: 20px;
    right: auto;
    left: -32px;
  }
}

@media (max-width: 1150px) {
  .holder-slider__descr {
    padding: 160px 0 0 20px;
  }
  .surf, .holder {
    padding: 70px 0 50px;
  }
}

@media (max-width: 1102px) {
  .slider-map {
    background-image: none;
    max-width: 100%;
    min-height: 280px;
  }
  .slider-dots__circle {
    display: none;
  }
  .slider-dots__content {
    display: block;
  }
  .slider-dots__content::before {
    display: none;
  }
  .slider-dots {
    position: static;
  }
  .slider-map .slick-list {
    overflow: hidden;
    min-height: 280px;
  }
  .slider-map .slick-track {
    min-height: 280px;
  }
  .slider-dots__content,
  .slider-dots--8, .slider-dots__content {
    transform: translateX(0);
  }
  .slider-dots__content {
    transform: translateX(0);
    width: 285px;
    padding: 28px 31px 0 32px;
  }
  .slider-map .slick-current .slider-dots__content {
    background: rgba(204, 204, 204, .7);
  }
}

@media (max-width: 1040px) {
  .header__arrows {
    display: none;
  }
  .menu {
    background-color: #000;
    z-index: 22;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    transition: all .5s;
  }
  .menu-btn {
    display: flex;
  }
  .menu.active {
    transform: translate(0);
  }
  .header__search {
    padding: 40px 15px 15px;
  }
  .slider-item__info {
    position: absolute;
    right: 20px;
    bottom: 17px;
    text-align: right;
  }
  .slider-item__info-text {
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .headline-left {
    font-size: 16px;
    line-height: 18px;
    padding-left: 65px;
  }
  .slider-item__info-subtext {
    margin-bottom: 5px;
  }
  .headline-left::before {
    width: 50px;
  }
  .slider-item__info-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 800;
    margin-bottom: 20px;
  }
  .slider-dotshead {
    right: 0;
    left: 10px;
    margin: 0 auto;
    bottom: 5px;
  }
  .dots-box {
    width: 125px;
  }
  .dots-box__number {
    font-size: 18px;
  }
  .dots-box__name {
    line-height: 18px;
  }
  .surf__subtitle {
    padding-right: 20px;
  }
  .holder-slider__info {
    display: block;
  }
  .holder-slider__info-subtitle {
    position: static;
    transform: rotate(0deg);
    height: auto;
    width: auto;
    text-align: left;
  }
  .holder-slider__info-item {
    min-height: auto;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  .holder-slider__info-title {
    padding-left: 0;
  }
  .holder-slider__descr {
    background-position: right -119px;
  }
  .holder .title span {
    padding-bottom: 0;
  }
  .quantity-button.quantity-up {
    right: auto;
    left: 25px;
  }
  .quantity-button.quantity-down {
    right: auto;
  }
  .sleep.holder-slider__descr {
    background-position: right 10px;
  }
}

@media (max-width: 960px) {
  .slider-dotshead {
    display: none;
  }
}

@media (max-width: 767px) {
  .surfboard-box__content {
    padding-left: 0;
    top: 35px;
    left: 0;
    width: 270px;
  }
  .surfboard-box__content::before {
    display: none;
  }
  .surfboard-box--1 .surfboard-box__content {
    left: -177px;
  }
  .shop__extras {
    padding-left: 75px;
  }
}

@media (max-width: 720px) {
  .title span {
    font-size: 87px;
    padding-bottom: 80px;
    padding-left: 10px;
  }
  .surf-slider .slider-arrows {
    top: 20px;
  }
  .surf-slider {
    padding-top: 65px;
  }
  .holder-slider__head {
    min-height: 720px;
  }
  .holder-slider__subtitle {
    padding: 100px 20px 0 0;
  }
}

@media (max-width: 680px) {
  .shop__slider-content {
    display: block;
  }
  .shop__extras {
    padding-left: 0;
    padding-top: 35px;
  }
  .surfboard-box--1 {
    left: 155px;
  }
  .footer {
    text-align: center;
    padding: 100px 0 34px;
  }
}

@media (max-width: 640px) {
  .holder-slider__descr {
    background-image: none !important;
  }
  .btn {
    font-size: 30px;
    line-height: 36px;
    font-weight: 800;
  }
}

@media (max-width: 520px) {
  .headline-left {
    letter-spacing: 2.33333px;
  }
  .subtitle__head {
    font-size: 32px;
    padding-right: 0px;
  }
  .descr__head {
    font-size: 32px;
  }
}

@media (max-width: 460px) {
  .header__aside {
    display: block;
    text-align: center;
    padding-right: 0;
    height: 100vh;
  }
  .header__search {
    padding: 15px 0 5px;
  }
  .header__date {
    padding: 0;
    font-size: 50px;
    line-height: 45px;
  }
  .header__date span {
    font-size: 12px;
  }
  .header__location {
    margin-top: 0;
  }
  .header__title {
    display: none;
  }
  .holder {
    background-size: 120px;
  }
  .shop__slider-content {
    padding-left: 0;
  }
  .surfboard-box--2 {
    left: 3px;
  }
  .surfboard-box--1 .surfboard-box__content {
    left: -146px;
  }
}


@media (max-width: 425px) {
  .slider-map .slider-dots__content, 
  .slider-map .slick-current .slider-dots__content {
    width: 250px;
    padding: 28px 15px 0;
  }
  .holder-slider__descr .descr__head .holder__star-list {
    position: static;
    margin-left: -15px;
  }
  .holder-slider__descr .descr__head.descr__head-sleep {
    padding-right: 0;
  }
}

@media (max-width: 374px) {
  .slider-map .slider-dots__content, 
  .slider-map .slick-current .slider-dots__content {
    display: block;
    width: 200px;
    padding: 28px 10px 0;
  }
  .shop__extras-box {
    margin-right: 30px;
    text-align: center;
  }
}